{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'events:home' %}">Events</a> » {{ view.title }}
{% endblock %}
{% block content %}

<script>
    jQuery(document).ready(function($) {
    $(".btn").click(function() {
        window.document.location = $(this).attr('href');
    });
});
    jQuery(document).ready(function($) {
    $("#home").click(function() {
        window.document.location = $(this).attr('href');
    });
});

</script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>{{ object.start }}       </p>
            <p>{{ object.end }}         </p>
            <p>{{ object.description }} </p>
            <p>{{ object.price }}       </p>
            <p>{{ object.get_status_display }}      </p>
            <p>{{ object.location }}    </p>
            <p>{{ object.latitude }}    </p>
            <p>{{ object.longitude }}   </p>
        </div>
        <div class="col-md-6">
            <table class="table table-responsive">
                <caption><strong>Guests</strong></caption>
                <tbody>
                    {% for guest in object.guest_set.all %}
                    <tr>
                        <td>{{ guest.name }}</td>
                        <td>{{ guest.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div>

<div class="clearfix"></div>
    {% buttons %}
    <button type="submit" class="btn btn-primary" href="{% url 'events:update' object.pk %}">
        update {% bootstrap_icon "pencil" %}
    </button>
    <button type="button" class="btn btn-primary" id="guest" href="{% url 'events:guest' %}">
        Add guests
    </button>
    <button type="button" class="btn btn-primary" id="home" href="{% url 'events:home' %}">
        Back to event list
    </button>
    {% endbuttons %}
{#</div>#}

    </div>

{% endblock %}


