{% extends "base.html" %}

{% block content %}
<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).find("a").attr('href');
    });
});
</script>
    <div style="float:right">
        <a href="{% url 'events:create' %}">+ Create new event</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Event</th>
            <th>Starts at</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}

            <tr class="clickable-row" >
                <td style="cursor: pointer"><a href="{% url 'events:details' object.pk %}"> {{ object.title }}</a></td>
                <td>{{ object.start }}</td>
                <td>{{ object.get_status_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

