{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<script>
    jQuery(document).ready(function($) {
    $(".btn").click(function() {
        window.document.location = $(this).attr('href');
    });
});
    jQuery(document).ready(function($) {
    $("#home").click(function() {
        window.document.location = $(this).attr('href');
    });
});
</script>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Save {% bootstrap_icon "save" %}
            </button>
        {% endbuttons %}

</form>

    <button type="button" class="btn btn-primary" id="home" href="{% url 'events:home' %}">
        Back to event list
    </button>

{% endblock %}
