{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div>
            <h2><strong>{{ guest.invited_by|capfirst }}</strong> invited you to <strong>{{ guest.event.title }}</strong></h2>
            <p>Event time: {{ guest.event.start }} - {{ guest.event.end }}</p>
            <p>Event location: {{ guest.event.location }}</p>
        </div>
        {% for status in statuses %}
            <input type="radio" name="guest_response" value="{{ status.0 }}" {% if status.0 == guest.status %}checked{% endif %}> {{ status.1 }}<br>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Respond {% bootstrap_icon "save" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}