{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.title }} | PyPlanner
        {% endblock %}
    </title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>

</head>
<body>

<div class="container">

    <div style="float:right">
        <a href="{% url 'events:home' %}">Events list</a>
        |
        {{ user }}
        |
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <h1>
        PyPlanner
    </h1>

    <div>

        {% block content %}
            CONTENT
        {% endblock %}

    </div>

</div>

</body>
</html>