{% load staticfiles bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.title }} | Event Planner
        {% endblock %}
    </title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {{ form.media }}
</head>
<body>
    <div class="container">
    <div class="page-header">
        <h1>
            Event Planner<br>
            <small>{{ view.title }}</small>
        </h1>
    </div>
    {% block breadcrumbs %}<a href="{% url 'events:home' %}">Home</a>{% endblock %}
    {% bootstrap_messages %}
        <div>

            {% block content %}
                CONTENT
            {% endblock %}

        </div>

    </div>
</body>
</html>